<template>
  <!--
    This Component is complete, there is no need to edit it..
    - Sam Blowes
  -->
  <medium-editor
    class="editor"
    :text="value"
    :options="options"
    @edit="updateHTML"
  />
</template>

<script>
import editor from 'vue2-medium-editor';
export default {
  name: 'ContentEditable',
  props: {
    value: String
  },
  components: { 'medium-editor': editor },
  data() {
    return {
      options: {
        toolbar: { buttons: ['bold', 'italic', 'underline'] }
      }
    };
  },
  methods: {
    updateHTML: function(operation) {
      this.$emit('input', operation.api.origElements.innerHTML);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.editor {
  flex: 0 0 80%;
  height: 100px;
  background: var(--content-editable-bg-color);
  padding: 1rem;
}
</style>
