<template>
  <div class="display-box">
    <pre>{{ todos }}</pre>
  </div>
</template>

<script>
export default {
  props: ['todos']
};
</script>

<style scoped>
.display-box {
  background: var(--preview-bg-color);
  min-height: 9rem;
  padding: 2rem;
  color: white;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

pre {
  overflow-y: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
</style>
