<template>
  <div class="item">
    <ContentEditable @input="getEditedTodo" :value="todo" />
    <BaseButton :idx="idx" mode="add" @todo-index="addOrDeleteTodo" />
    <BaseButton :idx="idx" mode="delete" @todo-index="addOrDeleteTodo" />
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import ContentEditable from './ContentEditable';
import BaseButton from './ui/BaseButton';

export default {
  components: {
    ContentEditable,
    BaseButton
  },
  props: ['todo', 'idx'],
  emits: ['preview', 'add-or-delete'],
  setup(props, context) {
    const editedTodo = ref('');

    const getEditedTodo = ($event) => {
      editedTodo.value = $event;
      context.emit('preview', {
        value: editedTodo.value,
        index: props.idx
      });
    };

    const addOrDeleteTodo = ({ index, mode }) => {
      context.emit('add-or-delete', {
        index,
        mode
      });
    };

    return {
      getEditedTodo,
      addOrDeleteTodo
    };
  }
};
</script>

<style scoped>
.item {
  display: flex;
  margin-bottom: 0.5rem;
}
</style>
