<template>
  <!-- Vue JS only allows one root element -->
  <div class="container">
    <div class="editables">
      <EditableItem
        v-for="(todo, index) in todos.data"
        :key="index"
        :idx="index"
        :todo="todo"
        @preview="setLivePreview"
        @add-or-delete="addOrDeleteTodo"
      />
    </div>
    <div class="display">
      <DisplayTodos :todos="displayableTodos" />
    </div>
  </div>
</template>

<script>
import users from '../users.json';
import { reactive, computed, onMounted, provide } from '@vue/composition-api';
import EditableItem from './EditableItem';
import DisplayTodos from './DisplayTodos';

export default {
  name: 'TodoApp',
  components: {
    EditableItem,
    DisplayTodos
  },
  setup() {
    const todos = reactive({
      data: []
    });

    //We could also just replace the operations in the onMounted hook
    //In a normal function and invoke that function in setup as the
    //setup method is run in the created hook

    onMounted(() => {
      const userTodos = users[0].todos.map(({ value }) => value);
      todos.data = [...userTodos];
    });

    provide('todosData', todos);

    const displayableTodos = computed(() => JSON.stringify(todos, null, 2));

    const setLivePreview = ({ value, index }) => {
      const { data } = todos;
      data.splice(index, 1, value);
    };

    const addOrDeleteTodo = ({ index, mode }) => {
      const { data } = todos;

      if (mode === 'delete') {
        data.splice(index, 1);
      } else {
        data.splice(index + 1, 0, '');
      }
    };

    return {
      displayableTodos,
      todos,
      setLivePreview,
      addOrDeleteTodo
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  display: flex;
  padding: 0.5rem;
}

.editables {
  flex: 0 0 50%;
  margin: 0.3rem;
}

.display {
  flex: 1;
  margin: 0.3rem;
}
</style>
