<template>
  <div id="app">
    <TodoApp />
  </div>
</template>

<script>
import TodoApp from './components/TodoApp';

export default {
  name: 'App',
  components: {
    TodoApp
  }
};
</script>

<style>
#app {
  color: #000000;
  font-family: monospace;
  max-width: 1400px;
  margin: 1rem auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #dddddd;
  --btn-add-bg-color: #9acd31;
  --btn-delete-bg-color: #ce5c5c;
  --btn-disabled-bg-color: #ccc;
  --preview-bg-color: #000;
  --preview-text-color: #fff;
  --content-editable-bg-color: #f6f5f5;
}
html,
body {
  background: var(--bg-color);
}
</style>
