<template>
  <button
    :disabled="getTodosLength"
    :class="getButtonClass"
    @click="addOrDeleteTodo"
  >
    {{ getButtonValue }}
  </button>
</template>

<script>
import { inject, computed } from '@vue/composition-api';

export default {
  props: {
    mode: {
      type: String,
      required: true
    },
    idx: {
      type: Number,
      required: true
    }
  },
  emits: ['todo-index'],
  setup(props, { emit }) {
    const todosData = inject('todosData');

    const getTodosLength = computed(
      () => todosData.data.length <= 1 && props.mode !== 'add'
    );

    const getButtonClass = computed(() => {
      if (todosData.data.length <= 1 && props.mode === 'delete') {
        return 'disabled';
      }
      return props.mode === 'add' ? 'add' : 'delete';
    });

    const getButtonValue = computed(() => (props.mode === 'add' ? '+' : '-'));

    const addOrDeleteTodo = () => {
      emit('todo-index', {
        index: props.idx,
        mode: props.mode
      });
    };

    return {
      getTodosLength,
      getButtonValue,
      addOrDeleteTodo,
      getButtonClass
    };
  }
};
</script>

<style scoped>
button {
  flex: 1;
  cursor: pointer;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.delete {
  background: var(--btn-delete-bg-color);
}

.disabled {
  background: var(--btn-disabled-bg-color);
}

.add {
  background: var(--btn-add-bg-color);
}
</style>
